.grid {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;

  .col {
    height: 100vh;
    margin-left: auto;
    margin-right: 4em;

    .divider {
      margin-right: 2.5em;
    }

    .image {
      width: 100%;

      img {
        width: 70%;
      }
    }

    .center {
      height: 100%;
      display: inline-flex;

      .form {
        width: 100%;
      }
    }
  }

  .portal {
    position: absolute;
    top: -10em;
    width: 120vw;
    height: 120vh;
    z-index: -2;
    overflow: hidden;
    opacity: 0.2;
    filter: blur(0.2em);
    transform: rotate(-5deg);
  }
}

.backgroundCol {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;

  .background {
    width: 80%;
    z-index: -1;
    position: relative;
    left: 7rem;
    overflow: hidden;
    transform: rotate(-12deg);
  }
}
