.grid {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  position: relative;

  .col {
    height: 100vh;
    margin-left: auto;
    margin-right: 4em;

    .divider {
      margin-right: 2.5em;
    }

    .image {
      width: 100%;

      img {
        width: 50%;
      }
    }

    .center {
      height: 100%;
      display: inline-flex;

      .form {
        width: 100%;
      }
    }
  }

  .portal {
    position: absolute;
    top: -10em;
    left: -17em;
    width: 120vw;
    height: 120vh;
    z-index: -2;
    opacity: 0.2;
    filter: blur(0.2em);
    transform: rotate(-4deg);

    .background {
      width: 80%;
      z-index: -1;
      position: relative;
      left: 7rem;
  
      .paper {
        border-radius: 0;
  
        .image {
          margin-bottom: 2em;
        }
      }
    }
  }
}

.backgroundCol {
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;

  .background {
    width: 80%;
    z-index: -1;
    position: relative;
    left: 7rem;
    transform: rotate(-12deg);

    .paper {
      border-radius: 0;

      .image {
        margin-bottom: 2em;
      }
    }
  }
}
