.grid {
  width: 100vw;
  height: 100vh;

  .navbar {
    height: 100vh;
    width: 17em;
    display: inline-flex;
    padding: 1em;
  }

  .pageContent {
    display: inline-block;
    width: calc(100vw - 17em);
    height: 100vh;
    padding: 3em;
    margin: 0;
  }
}
