.header {
  height: fit-content;
  width: 100%;
}

.divider {
  width: 100%;
  height: fit-content;
}

.images {
  width: 100%;
  height: max-content;

  .column {
    padding: 0.7em;

    .imageCard {
      width: 100%;
      padding: 0;
      background-color: rgba(180, 180, 180, 0.066);
      margin: 1em 0;

      .image {
        width: 100%;
        margin: 0;

        img {
          width: 100%;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .info {
        padding: 1em;
      }

      .priceButton {
        margin: 1em;
      }

      &:hover {
        background-color: rgba(180, 180, 180, 0.274);
        outline: 1px solid #74C0FC;
      }
    }
  }
}