@font-face {
  font-family: Allan;
  src: url(Allan-Regular.ttf);
}

.grid {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;

  .navbar {
    height: 100vh;
    width: 17em;
    display: inline-flex;
    padding: 1em;

    .navbarText {
      font-family: "Allan";
      font-size: 2em;
    }

    a {
      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .pageContent {
    display: inline-block;
    width: calc(100vw - 17em);
    height: 100vh;
    padding: 3em;
    margin: 0;
  }
}
